body{
font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

}

.loginDiv{
	margin-top:200px;
}
.login {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAYCAYAAACIhL/AAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAACYUlEQVRIx42WYXLrIAyEBSb3v2OvkSDen7f0y0Y49UynDgYhrVYrtZ+fn/V4PGLOGRERa62IiGitvb231iIiIjOj9x561lp7X+89MnN/u64r1lqRmduGzmdmrLU+9tBG7z2GLtbh6llrbQf5+H5dquB0sd61npn7rILzgLV/aKMi0EME3RAdI8qOtlDQhUJHSDFwrdFGay0GI9fFfknl8LfnFNzdQ7B0ZtAB8eGEDh11jlZpYhr5V9kmt2lvcMENeOReHNzHb478af0vyA6mt0or14jc6eLqvPaLg6ziKjCeGadUni4k0Yksif8NvdN3nt9Fcl3X5h61Sr+pSSQytU+/SW79JkKUlznnm4PSYZerUZHXUWCqvUDudJKBZGaMMW5VgpKzOajUXNf1Idgu3lWXYdSy4YGJa6eiqFIrv8acM+ac8Xq9ynbl6MhpBuHSUfGaSHphsNu4QgwS3KXEHaTjXs3uCB1iMN/aKB3NzF+ZqdqZizFTQSNe4XSGRVS1sqo1EuXRe/+oUKFadRDXNBdxn1oqLSVyfocjO06OONycRIiKf6c88V1VrMx4/2eVv3FwzhnP57M8SEc8TZVznlpRQo55toSwayrtvKWYhNXhSvkpH3ekp8ZS4KvZs+L/fz96OY146Z8qrRJ2rv91xuQgy/tHNeY44St99JQzbacJR9+47u8e0HDBJNkrOakEmkZPE/paazcETtP6z16sPt1ai04dvOPEtzGsCqripTgvqar6L9f2NMMq8wnmrtq8q9C4pqQq5U4daibRHyQn+Xjqx3d9+jRtnzLknclRbK3FP3PnY9UL0WZ9AAAAAElFTkSuQmCC") repeat fixed 0 0 rgba(0, 0, 0, 0);
}
.header{
	height:128px;
	background:#f5f5f5;
}
.myself{
	margin-top:50px;
	font-size:35px;

}
.myself a,a:hover{
	text-decoration:none;
	color:#000;
}

.list-inline{
	margin-top:50px;
	
}
.link{
	background: none repeat scroll 0 0 #222;
	border: medium none;
    color: #fff;
    padding: 5px 10px;
    transition-property: background;
	text-decoration: none;
}
.link:hover{
	background: none repeat scroll 0 0 #bbb;
	color:#fff;
	text-decoration: none;
}
.footer{
	background: none repeat scroll 0 0 #f5f5f5;
	padding: 10px 0;
	height:100px;
	margin-top:40px;
	text-align:center;
	padding-top:30px;
}

.title-top,.title{
	text-align:center;
	margin:0 auto;
	font-size:16px;
	
}
.content{
	line-height:2.0;
	padding-top:30px;
	width:65%;
	margin:0 auto;
}
.index-body{
    background: url("../../static/image/background-cover.jpg") no-repeat scroll left top / cover #666666;
    display: block;
    height: 100%;
    max-width: none;
    position: fixed;
    width: 100%;
    z-index: 900;
}
.index-cover{
 	background-color: rgba(68, 68, 68, 0.6);
    background-image: linear-gradient(140deg, rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
	background-color: rgba(37, 104, 163, 0.1);
    background-image: linear-gradient(140deg, rgba(37, 104, 163, 0.6) 20%, rgba(18, 51, 80, 0.8));
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -900;
}
.index-content{
	text-align:center;
	margin-top:100px;
	
}
.index-logo{
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3)
}
.index-content a{
	color:#fff;
}
.index-name{
    color: #cccccc;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 3px;
}
.cover-one{
	border-top: 1px solid rgba(255, 255, 255, 0.14);
    margin: 20px auto;
    width: 30%;
}
.index-description{
	margin: 0 30px;
	font-size:20px;
	color:#fff;
	line-height: 1.7em;
    margin-bottom: 1.3em;
}
.cover-two{
	border-top: 1px solid rgba(255, 255, 255, 0.14);
    margin: 20px auto;
    width: 20%;
}

.blog-button{
    border: 1px solid #fff;
    border-radius: 20px;
    color: #bf1827;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-shadow: none;
	display: block;
    opacity: 0.8;
    position: relative;
}
.blog-button:hover{
	border-color:#fff;
	color:#fff;
	opacity:1;
}
.post{
	margin:0 auto;
	width:50%;
}
.list-unstyled li{
	border-bottom:1px dashed #d1d1d1;
	line-height:5em;
}
.list-unstyled a,span{
	font-size:20px;
	color:#000;
}
.list-unstyled a:hover{
	color:#B0B0B0;
}
